{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div class="main wrapper clearfix">
        
        <article>
            <header>
                <h1>About Nannies CA</h1>
                <p>Nannies CA is a professional nanny service provider that works with families and nannies in the greater San Diego area. Some of the areas where we currently provide coverage are: San Diego, La Jolla, Carlsbad, Oceanside, Encinitas, Solana Beach, Del Mar, Escondido, Rancho Bernardo, and Poway.</p>
                <p>The childcare professionals we provide have at least 2 years prior experience, clean background checks, a valid and current driver's license, and their CPR certification.</p>
            </header>
            <section>
                <h2>Finding a Nanny</h2>
                <p>Nannies CA makes the process of finding a reliable and trustworthy person to care for your child easy and stress-free.</p>
                <ol>
                    <li>Call us at <a href="tel:858-230-8937" class="phone-link">858-230-8937</a>.</li>
                    <li>We interview and background check candidates.</li>
                    <li>We choose the perfect nanny for your family within 2 weeks.</li>
                </ol>
            </section>
            <section>
                <h2>Pricing</h2>
                <p>We charge a one time referral fee of $2,000 and you choose the hourly rate you wish to pay. Please call <a href="tel:858-230-8937" class="phone-link">858-230-8937</a> if you have any questions.</p>
            </section>
            <section>
                <h2>Our Search Process</h2>
                <p>Your child's safety is our number one priority when looking for a someone to care for your child. For this reason, we put each candidate through a thorough screening process that involves multiple interviews and background checks.
                <ul>
                    <li>We interview multiple candidates in the San Diego area on the phone in order to gauge whether they will be a good fit for your family.</li>
                    <li>After narrowing down our search to the top three nannies, we will then perform face to face interviews with each remaining candidate.</li>
                    <li>At this time we also ensure that each candidate has a valid and current driver's license.</li>
                    <li>We rank the final candidates and perform thorough criminal background checks on each candidate so that we can provide you with the top ranked candidate that had a clean background check.</li>
                    <li>After deciding on the perfect nanny for your family we will then arrange for them to obtain their CPR certification if they do not already have it.</li>
                    <li>In order to ensure your child's continued safety, we also perform thorough background checks on each of our nannies every three months.</li>
                </ul>
                <p>This entire process can be modified and specialized at your request.</p>
            </section>
            <section>
                <h2>Locations Served</h2>
                <p>Some of the locations that we can serve your family in are:</p>
                <ul>
                    <li>San Diego</li>
                    <li>La Jolla</li>
                    <li>Carlsbad</li>
                    <li>Oceanside</li>
                    <li>Encinitas</li>
                    <li>Solana Beach</li>
                    <li>Del Mar</li>
                    <li>Escondido</li>
                    <li>Rancho Bernardo</li>
                    <li>Poway</li>
                </ul>
                <p>Any other location in the greater San Diego area.</p>
            </section>
        </article>

        <aside>
            <h2>Nanny Guarantee</h2>
            <p>We believe in the importance of matching families with the perfect nanny. If you are not satisfied with the nanny we have provided you, we will replace them. No questions asked! No additional charge!</p>
        </aside>
        <aside class="aside-link">
            <a class="aside-link" href="{% url 'faq' %}">
                <h2>FAQ</h2>
                <p>We understand that choosing the correct nanny is a very important decision for both you and your child. Please take a look at some of the questions we get most frequently. If you can't find the answer you're looking for, give us a call or <strong><a class="inline-link" href="{% url 'contact' %}">contact us here</a></strong>.</p>
            </a>
        </aside>
        <aside>
            <h2>Start Your Search</h2>
            <p>To get your search started give us a call at <a href="tel:858-230-8937" style="color:white;">858-230-8937</a>. We will begin your search immediately with the goal of finding you a long-term nanny for your family.</p>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->
{% endblock %}

