{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div class="main wrapper clearfix">
        
        <article>
            <header>
                <h1>About Nannies CA</h1>
                <p>Nannies CA is a high end nanny service provider that works with families and nannies in the greater San Diego area. Some of the areas where we currently provide coverage are: San Diego, La Jolla, Carlsbad, Oceanside, Encinitas, Solana Beach, Del Mar, Escondido, Rancho Bernardo, Poway, and Chula Vista.</p>
                <p>Our nannies have at least 2 years prior experience, background checks performed every three months, a valid and current driver's license, and their CPR certification.</p>
            </header>
            <section>
                <h3>Finding a Nanny</h3>
                <p>Nannies CA makes the process of finding a great nanny easy and stress-free.</p>
                <ol>
                    <li>Call us at <a href="tel:858-230-8937" class="phone-link">858-230-8937</a>.</li>
                    <li>We interview and background check candidates.</li>
                    <li>We choose a nanny for your family within 2 weeks.</li>
                </ol>
            </section>
            <section>
                <h3>Pricing</h3>
                <p>Each child that will be with the nanny for 5 or more hours counts as one child. Each child that will be with the nanny for less than 5 hours counts as 1/2 child.</p>
                <table id="pricing-table">
                    <thead>
                        <tr>
                            <th>Children</th>
                            <th>Hours</th>
                            <th>Weekly Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Less Than 3</td>
                            <td>Up to 45 Hours</td>
                            <td class="center">$899</td>
                        </tr>
                        <tr>
                            <td>Less Than 4</td>
                            <td>Up to 45 Hours</td>
                            <td class="center">$1099</td>
                        </tr>
                        <tr>
                            <td>4 or More</td>
                            <td>Up to 45 Hours</td>
                            <td class="center">$1199</td>
                        </tr>
                        <tr>
                            <td>--</td>
                            <td>Live In</td>
                            <td>Call for a quote.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <!-- <section>
                <h3>Payment</h3>
                <p>Nannies CA will collect payment weekly. You can send it by mail or we can send one of our associates to pick it up. Our online payment system is in development and should be online by the middle of March.</p>
            </section> -->
        </article>

        <aside>
            <h3>Nanny Guarantee</h3>
            <p>We believe in the importance of matching families with the correct nanny. If you are not satisfied with the nanny we have provided you, we will replace them. No questions asked! No additional charge!</p>
        </aside>
        <aside class="aside-link">
            <a class="aside-link" href="/faq">
                <h3>FAQ</h3>
                <p>We understand that choosing the correct nanny is a very important decision for both you and your child. Please take a look at some of the questions we get most frequently. If you can't find the answer you're looking for, give us a call or send us a <strong><a class="inline-link" href="/contact">message</a></strong>.</p>
            </a>
        </aside>
        <aside>
            <h3>Start Your Search</h3>
            <p>To get your nanny search started give us a call at <a href="tel:858-230-8937" style="color:white;">858-230-8937</a>. We will begin your search immediately with the goal of finding you a long-term nanny for your family.</p>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->
{% endblock %}

