<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width">
        <meta name="google-site-verification" content="fvuh-YqvhVu76jCPz_GGP8go1F-JPVkSYsEqUs7bag0" />
        

        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <a class="title" href="{% url 'home' %}"><img id="main-logo" src="/static/img/NanniesCA_logo.png" alt=""></a>
                <p id="phone"><a href="tel:1-800-613-8755">1-800-613-8755</a></p>
                <div id="icon-menu"><img src="/static/img/list.png" alt=""></div>
                <div id='nav-div'>
                    <nav>
                        <ul>
                            <li><a href="{% url 'home' %}" id="top-item">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <!-- <li><a href="/family" id="log-in">Log In</a></li> -->
                        </ul>
                    </nav>
                </div>
            </header>
        </div>

        {% block content %}{% endblock %}

        <div class="footer-container">
            <footer class="wrapper">
                <h6>&copy 2013-2014 Nannies CA, LLC</h6>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="/static/js/main.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-21114846-1', 'nanniesca.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>
