{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div class="main wrapper clearfix">
        
        

        <article>
            <header>
                <h1>FAQ</h1>
                <p>Below you will find the answers to our customers' most frequently asked questions.</p>
            </header>
            <aside class="solo-aside">
                <h3>Nanny Guarantee</h3>
                <p>If you are not satisfied with your nanny, Nannies CA will provide you with a replacement for no additional charge.</p>
            </aside>
            <section>
                <h4>How long does will it take for you to find me a nanny?</h4>
                <p>Nannies CA strives to find the perfect nanny for your family within two weeks. If we currently have a nanny on staff that is not with a family we may be able to provide you with services sooner. If there are special qualifications that you would like your nanny to have it may take us slightly longer to provide you with a nanny.</p>
            </section>
            <section>
                <h4>Why is my nanny paid on a weekly basis rather than an hourly one?</h4>
                <p>We believe in the importance of a child's long-term relationship with their nanny. Nannies CA has found that the predictability of the weekly payment system makes a nanny more likely to stay with a family long-term.</p>
            </section>
            <section>
                <h4>How does the nanny get paid each week?</h4>
                <p>Each week, you will pay Nannies CA either through the mail or by pick-up. The nanny is an employee of Nannies CA, so we will pay them.</p>
            </section>
            <section>
                <h4>Can I meet the nanny you have chosen prior to his/her hiring?</h4>
                <p>Yes, we can customize our search process to suit your needs. We can also arrange for you to meet with several candidates. We want you to feel 100% comfortable with your family's nanny.</p>
            </section>
            <section>
                <h4>What happens if I am not satisfied with my nanny?</h4>
                <p>If for any reason you are not satisfied with the nanny that we have provide, we ask that you notify us immediately and we will find you a replacement as quickly as possible for no additional charge.</p>
            </section>
        </article>

        

    </div> <!-- #main -->
</div> <!-- #main-container -->
{% endblock %}

