{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div id="main-home" class="main wrapper clearfix">
        
        <article id="main-photo">
            <img src="/static/img/child_1.jpg">
            <!-- <p> </p> -->
        </article>

        <aside class="aside-link">
            <a class="aside-link" href="/about">
                <h3>How It Works</h3>
                <p>Nannies CA provides full-time, professional nanny services that are tailored to meet your needs. Our goal is to provide children with a nanny that will provide a caring and nurturing environment.  We do not charge a finder's fee and will replace your nanny if they do not meet your expectations for any reason.</p>
            </a>
        </aside>
        <aside class="aside-link">
            <a class="aside-link" href="/about">
                <h3>Our Nannies</h3>
                <p>Nannies CA maintains strict requirements that each of our nannies must meet and maintain. All of our nannies have a minimum of two years of prior experience, background checks performed every three months, a valid and current driver's license, and a current CPR certification.</p>
            </a>
        </aside>
        <aside class="aside-link">
            <a class="aside-link" href="/about">
                <h3>Nanny Guarantee</h3>
                <p>We believe in the importance of matching families with the correct nanny. If you are not satisfied with the nanny we have provided you, we will replace them. No questions asked! No additional charge!</p>
            </a>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->
{% endblock %}

