{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div id="main-home" class="main wrapper clearfix">
        <article id="main-photo">
          <h3>Find a nanny the easy way!</h3>
          <img src="/static/img/child.jpg">
          <p>
            Are you a mom or dad that is heading back to work and looking for a trustworthy
            and experienced nanny to help with the kids? Or a busy parent that just needs a
            little break here and there? Are you exhausted when you get home from work and
            don't have time to cook dinner, do laundry, or clean the house? Are you and your
            spouse needing a date night by don't have anyone that you are comfortable with to
            watch your child? Do you just not have the time or energy to go through the interview
            and screening process to find a dependable nanny? Welcome to a world where all of these
            problems can be solved.
          </p>
          <p>
            With Nannies CA, the process of finding a nanny becomes easy and stress-free. Providing you a
            nanny that is qualified, experienced, hardworking, trustworthy, and becomes part of your family
            is our expertise. Each nanny goes through an extensive interview process, and is subjected to a
            criminal background check in every state that they have resided in. Each nanny has a minimum of
            two years childcare experience, a current driver's license, auto insurance, at least 3 strong
            childcare references, and is CPR and first-aid certified. We want to get to know you and your
            family personally that's why we offer a free in-home consultation.
          </p>
          <p>
            We understand making the decision to have a nanny come in to your home can be a little
            overwhelming, but we can help you through this process. Our goal is to make sure that your
            entire family is comfortable and satisfied throughout the entire process. If any part of our
            process does not fulfill your needs we will be happy to customize it for you.
          </p>
        </article>

        <aside class="aside-link">
            <a class="aside-link" href="{% url 'about' %}">
                <h3>How It Works</h3>
                <p>Nannies CA is a nanny agency that provides full-time, professional nanny services that are tailored to meet your needs. Our goal is to provide children with a nanny that will provide a caring and nurturing environment.  We will replace your nanny if they do not meet your expectations for any reason.</p>
            </a>
        </aside>
        <aside class="aside-link">
            <a class="aside-link" href="{% url 'about' %}">
                <h3>Our Nannies</h3>
                <p>Nannies CA maintains strict requirements that each of our nannies must meet and maintain. All of our nannies have a minimum of two years of prior experience, background checks performed every three months, a valid and current driver's license, and a current CPR certification.</p>
            </a>
        </aside>
        <aside class="aside-link">
            <a class="aside-link" href="{% url 'about' %}">
                <h3>Nanny Guarantee</h3>
                <p>We believe in the importance of matching families with the correct nanny. If you are not satisfied with the nanny we have provided you within the first three months, we will replace them. No questions asked! No additional charge!</p>
            </a>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->
{% endblock %}

